.category {
   height: 40px;
   margin: 5px 5px 0 5px;
   padding: 5px 10px 0 0;

   font-size: 25px;
   font-weight: bold;
   text-align: right;

   border: 1px solid #ccc;
   border-bottom: 2px dotted #ccc;
   border-radius: 10px 10px 0 0;
}